.horizontal {
    display: flex;
    justify-content: space-between;
}

.cardText {
    text-align: left;
}

.imgEdit {
    height: 200px;
    width: auto;
}

.shopCard {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: center;
}