.plansbg {
    background-image: url('./bgp.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.planCard {

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 8%;
    justify-content: center;

}

.plansbgcard {
    background-color: rgba(245, 179, 179, 0.342);
}