.height {
    height: 400px;
}

.homeCard {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 8%;
    justify-content: center;
}

.animate__animated.animate__zoomInDown {
    --animate-duration: 1.5s;
}