.homeBody {
    background-image: url('./bgr.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 2.5em;
    font-weight: 700;
}

.txt {
    font-size: xx-large;
    font-weight: 500;
}

.animate__animated.animate__zoomInDown {
    --animate-duration: 1.5s;
}

.height {
    height: 400px;
}

.homeCard {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 8%;
    justify-content: center;
}

.cardbghome {
    background-color: rgba(245, 179, 179, 0.342);
}